
<head>
    <link rel="stylesheet" href="../css/settings.css">
    <link rel="stylesheet" href="https://use.typekit.net/juw2amj.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    
    <title>Kaktus</title>
    
</head>
<body style="display: flex;flex-direction: column;">
    <div class="mainscreen" style="display: block;">
        <div class="settingstxt" style="display: flex;flex-direction: column;">
            <h3>Змінити тему</h3>
            <h3>Змінити пароль</h3>
            <h3>Змінити нікнейм</h3>
            <h3>Під'єднати мережу</h3>
            <h3>Запити на дружбу</h3>
            <h3>Чат</h3>
            <h3>Сповіщення</h3>
            <h3>Мова</h3>
            <h3>Конфіденційність</h3>
        </div>
    </div>
</body>
