/* тут css */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(#443a4d, #2b153d);
    padding-top:3vh;
    padding-left:3vw;
    padding-right:3vw;
    /* background: radial-gradient(#1f0d2e, #4c3d58); */
    
}

.headbar {
    /* background-color: #100717; */

    display: flex;
    height: 5vh;
    
}

logo {
    width: 10%;
    background:#F0DE54;
    /* background:linear-gradient(to right,#F0DE54 0 90%, #ef492e 90% 100%); */
    font-family: "merriweather", serif;
    font-weight: 900;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1vh;
}



.header {
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
    margin-left: 5%;
}

.maincon {
    margin-left:auto;
    margin-left: auto;
    margin-top: 10vh;
    height: 70vh;
    display: flex;
}

.img {
    padding: 2vw;
    width: 65%;
    background-color: #190a25;
    border-radius: 2vw;
    color: #fff;
}

.login {
    width: 30%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

/* >> FORM */

.upperform {
    padding: 3vw 2vw 2vw 2vw;
    background: linear-gradient(#F0DE54 0 5%,  #190a25 5% 100%);
    height: 70%;
    border-radius: 2vw 2vw 0 0;
    color:#fff;
}

.ribbon{
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.5px);
    height: 10%;
   
}

fieldset {
    border:transparent;
}

.tag::placeholder {
    font-family: "merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color:#fff;
    font-size: 120%;
}

.inter-high {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.bottomform {
    padding: 3vh 2vw 2vh 2vw;
    background-color: #190a25;
    height: 20%;
    border-radius: 0 0 2vw 2vw;
    color:#fff;
}

.username::placeholder, .bio::placeholder, .password-input::placeholder {
    color:#d2cbcb;
}



.password-input {
    background-color: transparent;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-transform: uppercase;
    outline: none;
    border-color: transparent;
}

.hide-show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.162) 0% 95%, #F0DE54 95% 100%);
}

.hide-show:hover {
    cursor: pointer;
}

.loginb1:hover {
    text-decoration: underline 1px;
    cursor: pointer;
}

.registerb1:hover {
    text-decoration: underline 1px;
    cursor: pointer;
}
