* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(#443a4d, #2b153d);
}

.topbar {
    background-color: #1F0D2E;
    color:#fff;
    padding-top:1vh;
    font-family: "merriweather", serif;
    font-weight: 900;
    font-style: italic;
}

text {
    padding-left: 1vw;
}

.bottomarea {
    background-color: #1F0D2E;
    color:#fff;
}


/** chn-cht-msgarea **/

.channels {
    background-color: #283D56;
    color:#fff;
    padding-top:1vh;
    
    padding-bottom:1vh;
    
}

.chats {
    background-color: #1F3045;
    color:#fff;
    padding-top:1vh;
    padding-left:1vw;
    padding-bottom:1vh;
    padding-right:1vw;
    overflow: auto;
    overflow-anchor: none;
}

.messagearea { 
    background-color: #3b5475;
    color:#fff;
    padding-top:1vh;
    padding-left:1vw;
    padding-bottom:1vh;
    padding-right:1vw;
}

#message-container {
    overflow: auto;
    margin:1vh 0 1vh 0;
    overflow-anchor: none;
    word-wrap: break-word;
}

.searchbar {
    border-radius: 3px;
    padding-left: 1vw;
    outline: none;
    color:#000;
    border-color: transparent;
    position: sticky;
}

#searchselector {
    border-radius: 3px;
    border-color: transparent;
    outline: none;
    background-color: #2e3d4f;
    color:#fff;
    cursor: pointer !important;
    position: sticky;
}

#searchselector::placeholder {
    color:#fff;
}

group {
    border-radius: 3px;
    background: linear-gradient(to bottom, #1F0D2E 0 85%, rgb(44, 180, 44) 85% 100%);
    color:#fff;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    height: 5%;
    font-size: 12px;
    word-wrap: break-word;
    cursor: pointer !important;
}

group:hover {
    background: #6d7c8f;
}

chn {
    height: 6vh;
    width: 6vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F0DE54;
    color:#000;
    line-height: 100%;
    text-align: center;
    border-radius: 50%;
    cursor: pointer !important;
}

chn:hover {
    scale:1.1;
}

.messagebar {
    background-color: #2e3d4f;
    border-radius: 3vh;
    padding-left: 1vw;
    outline: none;
    color:#edecec;
    border-color: transparent;
    position: sticky;
}

.messagebar::placeholder {
    color:lightgray;
}

/* >> pf */

.pf-info {
    background-color:#1F0D2E;
    border: 1px dotted #fff;
}




/** inter **/
.inter-high {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

i {
    font-size:60%;
    color:lightgray;
}