<!-- тут html -->

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://use.typekit.net/juw2amj.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Kaktus</title>
    

</head>
<body>
    <nav class="headbar">
        <logo>Kaktus</logo>
        <nav class="header inter"><a href="https://discord.gg/KbjdhF4t"> Discord </a></nav>
    </nav>

    <section class="maincon">
        <div class="img inter" style="display: flex;flex-direction: column;">
            <img style="height: 70%;" src="../src/img/default.png">
            <div style="height: 30%;padding-top: 3vh;">Патч 1.0.S3: Все стало тільки краще!</div>
        </div> 

        <form id="signin" class="login" method="post" action="/main" style="display: initial;">
            <div class="upperform">
                <fieldset>
                    <p class="inter-high" style="color:#F0DE54;">Реєстрація</p><br><br>
                    <field style="display: flex;">
                        <input name="userName" maxlength="20" class="username" style="background-color:#352543;border-color: transparent;color:#fff;outline: none;line-height: 5vh;width:60%;padding-left: 0.5vw;" placeholder="Нікнейм">
                        <input name="userTag" class="tag inter" id="signinparse" style="background-color: #190a25;outline:none;border-color: transparent;width:40%;margin-left: 5%;display: flex;flex-direction: column;justify-content: center;color:#fff;" readonly>
                    </field>
                    
                    <p></p>
                    <br><field style="display: flex;">
                        <textarea name="userBio" maxlength="100" class="bio" style="background-color:#352543;border-color: transparent;color:#fff;outline: none;line-height: 5vh;padding-left: 0.5vw;width:100%;box-sizing: border-box;resize:none;height:23vh;" placeholder="Напишіть коротко про себе..."></textarea>
                    </field>
                    <input name="state" id="signinstate" style="display:none">
                </fieldset>
            </div>
       
            <div class="ribbon">
                <input name="userPassword" maxlength="15" class="password-input" style="width: 70%;" placeholder="Пароль">
                <div class="hide-show" style="margin-left: 20%;width: 10%;"><img id="hide-show" src="../src/img/hide-password.png" width="25vw" alt="hide"></div>
            </div>
            <div class="bottomform">
                <div class="inter" style="font-size: 15px;text-align: center;" onclick="document.getElementById('signin').submit()"><b class="registerb1" style="color:#F0DE54">Реєстрація</b></div>
                <div class="inter" style="font-size: 12px;text-align: center;margin-top:4vh;">Уже є акаунт? <b class="loginb1" style="color:#F0DE54" onclick="displayLogin()">Увійти</b></div>
            </div>
            
            
        </form>

        <form method="post" action="/main" id="login" class="login" style="display: none;">
        
            <div class="upperform">
                <fieldset>
                    <p class="inter-high" style="color:#F0DE54;">Вхід</p><br><br>
                    <field style="display: flex;">
                        <input name="userKey" maxlength="20" class="username" style="background-color:#352543;border-color: transparent;color:#fff;outline: none;line-height: 5vh;width:60%;padding-left: 0.5vw;" placeholder="Ключ">
                        <input name="userTag" class="tag inter" id="loginparse" style="background-color: #190a25;outline:none;border-color: transparent;width:40%;margin-left: 5%;display: flex;flex-direction: column;justify-content: center;color:#fff;" readonly>
                    </field>
                    
                    <p></p>
                    <br><field style="display: flex;">
                        <textarea name="userBio" maxlength="100" class="bio" style="background-color:#352543;border-color: transparent;color:#fff;outline: none;line-height: 5vh;padding-left: 0.5vw;width:100%;box-sizing: border-box;resize:none;height:23vh;" placeholder="А ви знали що команда розробників цього проєкту — підлітки? (сюди рандомний цікавий факт)" readonly></textarea>
                    </field>
                    <input name="state" id="loginstate" style="display:none">
                </fieldset>
            </div>
       
            <div class="ribbon">
                <input name="userPassword" maxlength="15" class="password-input" style="width: 70%;" placeholder="Пароль">
                <div class="hide-show" style="margin-left: 20%;width: 10%;"><img id="hide-show" src="../src/img/hide-password.png" width="25vw" alt="hide"></div>
            </div>
            <div class="bottomform">
                <div class="inter" style="font-size: 15px;text-align: center;" onclick="document.getElementById('login').submit()"><b class="registerb1" style="color:#F0DE54">Увійти</b></div>
                <div class="inter" style="font-size: 12px;text-align: center;margin-top:4vh;">Перший раз тут? <b class="loginb1" style="color:#F0DE54" onclick="displaySignin()">Реєстрація</b></div>
            </div>
        
        </form>
       
    </section>

</body>
<footer>
</footer>


<script type="module" src="../scripts/login.js"></script>

<script>

let loginstate = document.getElementById('loginstate')
let signinstate = document.getElementById('signinstate')
loginstate.value = 'login'
signinstate.value = 'signin'

let signinform = document.getElementById('signin')
let loginform = document.getElementById('login')

function displayLogin() {
    signinform.style.display = "none";
    loginform.style.display = "initial";
}

function displaySignin() {
    signinform.style.display = "initial";
    loginform.style.display = "none";
}


</script>