<head>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/juw2amj.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Kaktus</title>
    
</head>
<body style="display: flex;flex-direction: column;">
    <nav class="search" style="height:8%">a</nav>
    <div class="centerarea" style="height:77%;display:flex;flex-direction: row;">
    
    <div class="channels" style="width:10%">s</div>
    <div class="chats" style="width:25%">s</div>
    <div class="messagearea" style="width:65%">s</div>

    </div>
    <div class="bottomarea" style="height:15%">a</div>

</body>
