<head>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/juw2amj.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Kaktus</title>
    
</head>
<body style="display: flex;flex-direction: column;">
    <nav class="topbar" style="height:4%">Kaktus</nav>
    <div class="centerarea" style="height:86%;display:flex;flex-direction: row;">
    
    <div class="channels inter" style="width:5%">s</div>
    <div class="chats inter" style="width:15%">s</div>
    <div class="messagearea inter" style="width:80%">s</div>

    </div>
    <div class="bottomarea" style="height:10%">a</div>

</body>
